* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
}

h1 {
  font-size: 80px;
  color: #fff;
}

p {
  font-size: 30px;
  color: #fff;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1 {
  background: #1abc9c;
}

.s2 {
  background: #f1c40f;
}

.s3 {
  background: #2980b9;
  overflow: hidden;
  position: relative;
}

.s3 h1 {
  transform: translateY(50%)
}

.rocket {
  transform: translateY(200%);
}

.rocket.aos-animate {
  transform: translateY(-200%);
}